@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 614px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

/**/

img.avatar_img {
  border-radius: 400%;
  /* margin-right: 20px !important; */
}

.usr_name.col-6 {
  display: inline;
  margin-left: 16px;
}

.profile_info {
  display: flex;
  align-items: center;
  padding: 19px 19px;
}

.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 25px;
}
.tags {
  color: blue;
  /* text-decoration: underline; */
}

.view_comments {
  color: grey;
}

.post {
  margin-bottom: 50px;
  border: 1px solid #dbdbdb;
}

.likes {
  display: flex;
  justify-content: flex-end;
  padding: 5px 23px;
  height: 0;
  /* margin-bottom: 41px; */
}

.likes span {
  position: relative;
  /* color: white; */
}

.post_footer {
  padding: 17px 15px;
  font-size: 14px;
}

.nav_bar {
  display: flex;
  justify-content: space-around;
}
.nav_bar {
  background: #fbe819;
  /* position: static; */
  /* top: 0; */
  padding: 20px 0px;
  /* bottom: 0; */
  /* width: 100vw; */
}

.nac_bar .col-6 {
  width: 50%;
}

.mobile_nav .col-6 {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

navmob.mobile_nav {
  position: fixed;
  bottom: -10px;
  /* bottom: 48px; */
}

navmob {
  overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

nav.initial_nav {
  width: 60vw;
  position: fixed;
  background: white;
  z-index: 10000;
}

nav.initial_nav {
  width: 100%;
  margin: 0;
  padding: 10px 643px 10px 30px;
  align-items: center;
}
.tags {
  cursor: pointer;
}
.likes_count {
  color: #537ae6;
  cursor: pointer;
}

.view_comments:hover {
  color: #756f6f;
  text-decoration: underline;
  cursor: pointer;
}
.heart {
  fill: grey;
}

.heart:hover {
  fill: #cc1e2f;
  transform: scale(1.2);
}
.likes_count .fa-heart {
  margin-right: 4px;
}

.redheart {
  fill: red;
}
.errorPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  nav.initial_nav {
    display: none;
  }
}

@media (min-width: 600px) {
  navmob.mobile_nav {
    display: none;
  }

  .title {
    padding-top: 135px;
  }
}
